framework:
    messenger:
        transports:
            async:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'

when@test:
    framework:
        messenger:
            transports:
                async:
                    dsn: 'test://'
