variables:
    IMAGE_TAG: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG-$CI_COMMIT_SHORT_SHA

stages:
    - build
    - test

build_image:
    stage: build
    image: docker:24
    services:
        - docker:24-dind
    before_script:
        - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    script:
        - docker build -f docker/php/ci/Dockerfile -t $IMAGE_TAG .
        - docker push $IMAGE_TAG

php_cs_fixer:
    stage: test
    image: $IMAGE_TAG
    script:
        - vendor/bin/php-cs-fixer fix --allow-risky=yes --dry-run --show-progress=none

phpstan:
    stage: test
    image: $IMAGE_TAG
    script:
        - bin/console cache:clear --env=dev
        - vendor/bin/phpstan --memory-limit=1G --no-progress

phpunit:
    stage: test
    image: $IMAGE_TAG
    services:
        -   name: mysql:8.4.3
            alias: mysql
    variables:
        MYSQL_HOST: mysql
        MYSQL_DATABASE: test
        MYSQL_USER: test
        MYSQL_PASSWORD: test
        MYSQL_ROOT_PASSWORD: root
    before_script:
        - echo 'DATABASE_URL=mysql://root:root@mysql:3306/test?serverVersion=8.4.3&charset=utf8mb4' >> .env.test
    script:
        - vendor/bin/phpunit --coverage-text

rector:
    stage: test
    image: $IMAGE_TAG
    script:
        - vendor/bin/rector --dry-run --no-progress-bar

twig_cs_fixer:
    stage: test
    image: $IMAGE_TAG
    script:
        - vendor/bin/twig-cs-fixer lint templates
