image: thomasagedev/template-symfony:1.0.1

definitions:
    services:
        mysql:
            image: mysql:8.4.3
            environment:
                MYSQL_DATABASE: test
                MYSQL_PASSWORD: test
                MYSQL_ROOT_PASSWORD: root
                MYSQL_USER: test
            command:
                - "--default-authentication-plugin=mysql_native_password"

pipelines:
    default:
        -   step:
                name: Setup environment
                caches:
                    - composer
                script:
                    - COMPOSER_ALLOW_SUPERUSER=1 composer install --prefer-dist --no-progress --no-suggest
                artifacts:
                    - vendor/**
        -   parallel:
                -   step:
                        name: Run Rector
                        caches:
                            - composer
                        script:
                            - vendor/bin/rector --dry-run --no-progress-bar
                -   step:
                        name: Run PHP-CS-Fixer
                        caches:
                            - composer
                        script:
                            - vendor/bin/php-cs-fixer fix --allow-risky=yes --dry-run --show-progress=none
                -   step:
                        name: Run Twig-CS-Fixer
                        caches:
                            - composer
                        script:
                            - vendor/bin/twig-cs-fixer lint templates
                -   step:
                        name: Run PHPStan
                        caches:
                            - composer
                        script:
                            - bin/console cache:clear --env=dev
                            - vendor/bin/phpstan --memory-limit=1G --no-progress
                -   step:
                        name: Run PHPUnit
                        services:
                            - mysql
                        caches:
                            - composer
                        script:
                            # Wait for MySQL service to be ready (Bitbucket doesn't wait for service health)
                            # Use bash's /dev/tcp to avoid depending on mysql-client/netcat availability
                            - >-
                                for i in {1..60}; do
                                  (echo > /dev/tcp/127.0.0.1/3306) >/dev/null 2>&1 && echo "MySQL is up" && break;
                                  echo "Waiting for MySQL... ($i/60)"; sleep 1;
                                done
                            - echo 'DATABASE_URL=mysql://root:root@127.0.0.1:3306/test?serverVersion=8.4.3&charset=utf8mb4' >> .env.test
                            - vendor/bin/phpunit --coverage-text
