{% extends 'base.html.twig' %}

{% trans_default_domain 'profile' %}

{% block body %}

    <h1>Setup Two-Factor Authentication</h1>

    <p>Scan the QR code using Google Authenticator or another TOTP app:</p>

    <img src="{{ path('app_profile_2fa_qrcode') }}" alt="QR Code">

    <p>Secret : {{ secret }}</p>

    <form method="post">
        <div>
            <label>Validation</label>
            <input type="text" name="code">
        </div>
        <div>
            <button type="submit">Enable</button>
        </div>
    </form>

{% endblock %}
