<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Acme{% endblock %}</title>
    {% block stylesheets %}
        <link type="text/css" rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
        <link type="text/css" rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
        <link type="text/css" rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    {% endblock %}
    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
{% if app.user %}
    <div><a href="{{ path('app_logout') }}">Sign out</a></div>
{% endif %}
{% block body %}{% endblock %}
</body>
</html>
