<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Acme{% endblock %}</title>
    {% block stylesheets %}
    {% endblock %}
    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body data-bs-theme="dark">
{% if app.user %}
    {% include '_navbar.html.twig' %}
{% endif %}
<div class="container">
    {% block body %}{% endblock %}
</div>
</body>
</html>
